@model CarService.WebMVC.ViewModels.OrderDetailViewModel


<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <div class="row form-order-detail">
        <div class="col-sm-12 col-md-6 date-section">
            <div class="col-md-12">
                <h4>Date & Time</h4>
            </div>
            <div class="col-sm-12 col-md-12 no-padding">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <input asp-for="@Model.DataFirst" class="form-control form-input" type="text" placeholder="Select a date" onfocus="(this.type='date')" />
                        <span asp-validation-for="@Model.DataFirst" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <input asp-for="@Model.TimeFirst" class="form-control form-input" type="text" placeholder="Select your time" onfocus="(this.type='time')" />
                        <span asp-validation-for="@Model.TimeFirst" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 no-padding">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <input asp-for="@Model.DataSecond" class="form-control form-input" type="text" placeholder="Select a date" onfocus="(this.type='date')" />
                        <span asp-validation-for="@Model.DataSecond" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <input asp-for="@Model.TimeSecond" class="form-control form-input" type="text" placeholder="Select your time" onfocus="(this.type='time')" />
                        <span asp-validation-for="@Model.TimeSecond" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 store-hours">
                <h4>Store Hours</h4>
                <p class="day">Mon - Wed</p>
                <p>08:00 AM - 05:00 PM</p>
                <p class="day">Thu</p>
                <p>08:00 AM - 04:00 PM</p>
                <p class="day">Fri</p>
                <p>08:00 AM - 01:00 PM</p>
                <p class="day">Sat</p>
                <p>Close</p>
            </div>
            <div class="col-sm-6 col-md-6 your-service">
                <h4>Choose your services</h4>
                <p>Please select the type of service(s) needed</p>
                <div class="col-md-12 checkbox-item">
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="@Model.Transmission">
                                <input asp-for="@Model.Transmission" />
                                @Html.DisplayNameFor(m => m.Transmission)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 checkbox-item">
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="@Model.VehicleMaintenance">
                                <input asp-for="@Model.VehicleMaintenance" />
                                @Html.DisplayNameFor(m => m.VehicleMaintenance)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 checkbox-item">
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="@Model.VehicleRapair">
                                <input asp-for="@Model.VehicleRapair" />
                                @Html.DisplayNameFor(m => m.VehicleRapair)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 checkbox-item">
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="@Model.Other">
                                <input asp-for="@Model.Other" />
                                @Html.DisplayNameFor(m => m.Other)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="col-md-12">
                <h4>Your Vehicle</h4>
            </div>
            <div class="col-sm-12 col-md-12 no-padding">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <input asp-for="@Model.YearOfCar" class="form-control form-input" type="number" placeholder="Year of car" />
                        <span asp-validation-for="@Model.YearOfCar" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <select asp-for="@Model.SelectedCarType" asp-items="@Model.CarTypes" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <input asp-for="@Model.OrderMessage" class="form-control form-input" type="text" placeholder="Write your message" />
                    <span asp-validation-for="@Model.OrderMessage" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <h4>Personal Details</h4>
            </div>
            <div class="col-sm-12 col-md-12 no-padding">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <input asp-for="@Model.FirstName" class="form-control form-input" type="text" placeholder="First Name" />
                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <input asp-for="@Model.SecondName" class="form-control form-input" type="text" placeholder="Second Name" />
                        <span asp-validation-for="@Model.SecondName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 no-padding">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <input asp-for="@Model.EMail" class="form-control form-input" type="text" placeholder="E-Mail" />
                        <span asp-validation-for="@Model.EMail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <input asp-for="@Model.PhoneNumber" class="form-control form-input" type="text" placeholder="Phone Number" />
                        <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a asp-action="ClearForm" class="btn btn-default">Clear</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 right-align">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</form>

