@model CarService.WebMVC.ViewModels.OrderDetails

@{
    ViewData["Title"] = "Home Page";
}




<div class="row">
    <div class="col-md-12 col-carousel">


        <div id="carousel-top-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/original-slide-1.png" alt="Slide">
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src="~/images/original-slide-2.png" alt="Slide">
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src="~/images/original-slide-3.png" alt="Slide">
                    <div class="carousel-caption"></div>
                </div>
            </div>
        </div>
        <div class="text-carousel">
            <h2>Schedule your next appoimtment</h2>
            <p>Scroll down for details</p>
            <a href="#">
                <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<div class="row first-row">
    <div class="col-md-12">
        <h2>Please select a convenient time to leave your vehicle with us</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <h4>Data & Time</h4>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-group">
                <input asp-for="DataFirst" class="form-control form-input" type="text" placeholder="Select a date" onfocus="(this.type='datetime-local')" />
                <span asp-validation-for="DataFirst" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-group">
                <input asp-for="TimeFirst" class="form-control form-input" type="text" placeholder="Select your time" onfocus="(this.type='time')" />
                <span asp-validation-for="TimeFirst" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-group">
                <input asp-for="DataSecond" class="form-control form-input" type="text" placeholder="Select a date" onfocus="(this.type='datetime-local')" />
                <span asp-validation-for="DataSecond" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-group">
                <input asp-for="TimeSecond" class="form-control form-input" type="text" placeholder="Select your time" onfocus="(this.type='date')"/>
                <span asp-validation-for="TimeSecond" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <h4>Store Hours</h4>
            <p>Mon - Wed</p>
            <p>08:00 AM - 05:00 PM</p>
            <p>Thu</p>
            <p>08:00 AM - 04:00 PM</p>
            <p>Fri</p>
            <p>08:00 AM - 01:00 PM</p>
            <p>Sat</p>
            <p>Close</p>
        </div>
        <div class="col-sm-6 col-md-6">
            <h4>Choose your services</h4>
            <p>Please select the type of service(s) needed</p>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Transmission">
                            <input asp-for="Transmission" />
                            @Html.DisplayNameFor(m => m.Transmission)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="VehicleMaintenance">
                            <input asp-for="VehicleMaintenance" />
                            @Html.DisplayNameFor(m => m.VehicleMaintenance)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="VehicleRapair">
                            <input asp-for="VehicleRapair" />
                            @Html.DisplayNameFor(m => m.VehicleRapair)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Other">
                            <input asp-for="Other" />
                            @Html.DisplayNameFor(m => m.Other)
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">

        <div class="col-md-12">
            <h4>Your Vehicle</h4>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-group">
                <input asp-for="YearOfCar" class="form-control form-input" type="number" placeholder="Year of car" />
                <span asp-validation-for="YearOfCar" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            @*<div class="form-group">
                @Html.LabelFor(x => Model.SelectedCarType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownListFor(x => Model.SelectedCarType, new SelectList(Model.CarTypes, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "CarType"})
                    @Html.ValidationMessageFor(x => x.SelectedCarType, "", new { @class = "text-danger" })
                </div>
            </div>*@
            
            <div class="form-group">
                <select class="form-control">
                    <option value="">Select your car</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <input asp-for="OrderMessage" class="form-control form-input" type="text" placeholder="Write your message" />
                <span asp-validation-for="OrderMessage" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <h4>Personal Details</h4>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-group">
                <input asp-for="FirstName" class="form-control form-input" type="text" placeholder="First Name"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-group">
                <input asp-for="SecondName" class="form-control form-input" type="text" placeholder="Second Name"/>
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-group">
                <input asp-for="EMail" class="form-control form-input" type="text" placeholder="E-Mail"/>
                <span asp-validation-for="EMail" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-group">
                <input asp-for="PhoneNumber" class="form-control form-input" type="text" placeholder="Phone Number"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <a asp-action="ClearForm" class="btn btn-default">Clear</a>
        </div>
        <div class="col-sm-6 col-md-6">
            <a asp-action="SendOrder" class="btn btn-primary">Send</a>
        </div>

        @*<form method="post">

                <fieldset>
                    <div class="col-md-12">
                        <h4>Personal Details</h4>
                    </div>
                    <legend>Personal Details</legend>
                    <div class="col-sm-6">
                        <input type="text" placeholder="First Name" name="FirstName" value=""/>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Second Name" name="SecondName" value=""/>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" placeholder="E-Mail" name="EMail" value=""/>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Phone Number" name="PhoneNumber" value=""/>
                    </div>
                    <div class="col-sm-6">
                        <label>&nbsp;</label>
                        <input type="submit" value="Clear" class="submit"/>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label>&nbsp;</label>
                        <input type="submit" value="Send" class="submit"/>
                    </div>
                </fieldset>
            </form>*@
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <h3>Sign Up for special offers</h3>
            <p>
                Enter your mail and you will get the best<br />
                offers we have directlly to your inbox
            </p>
        </div>
        <div class="col-md-12">

        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <h3>Tell to your friends</h3>
            <p>
                Some of your friends may like to visit if you<br />
                recommend us. They'll trust your taste!
            </p>
            <div class="share-buttons">
                <!-- Facebook -->
                <a href="http://www.facebook.com/sharer.php?u=http://www.usergroup.od.ua" target="_blank">
                    <img src="~/images/FB-btn-bg.png" alt="Facebook" />
                </a>
                <!-- Twitter -->
                <a href="https://twitter.com/share?url=http://www.usergroup.od.ua&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
                    <img src="~/images/Twitter-btn-bg.png" alt="Twitter" />
                </a>
            </div>
        </div>
        <div class="col-md-12">

        </div>
    </div>
</div>

